
#stacks_in_34_page4 {
	padding:  10px;
}

#stacks_in_135_page4 {
	line-height: 2em;
}

#stacks_in_134_page4 {
	padding:  10px;
}

#stacks_in_566_page4 {
	padding:  10px;
}

#stacks_out_568_page4 {
	margin-right:0;
}

#stacks_in_568_page4 {
	padding:  9px;
}
